html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;;
}
.all {
    height: 100%;
    display: flex;
}
.container {
    border: 1px solid yellow;
}
header {
    border: 1px solid red;
    border-bottom: #D9DEE4;
    background-color: #EDEDED;
}
.main {
    border: 1px solid;
    display: flex;
    width: calc(100% - 230px);
    flex-direction: column;
}
.panel {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2A3F54;
}
.panel a, .panel a:visited {
    color: #E7E7E7;
}
li {
    list-style-type: none;
}
.side-menu {
    padding-left: 5px;
}
a {
    text-decoration: none;
}
.square {
    display: flex;
    border: 1px solid #EAEAEA;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}
.logo {
    font-size: 22px;
}
.side-menu li {
    padding: 18px;
}
.name {
    font-size: 22px;
    color: #ECF0F1;
    display: inline-block;
}
.menu_section a i:last-child {
    float: right;
}
.menu_section {
    font-size: 15px;
}
.logo i:first-child {
    padding-left: 3px;
}
.brand {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 25px;
}
.side-menu .fa {
    font-size: 18px;
}
.fa.fa-chevron-down {
    font-size: 12px;
}





