html, body {
    height: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;;
}
.all {
    height: 100%;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9DEE4;
    background-color: #EDEDED;
    padding: 10px;
}
.main {
    display: flex;
    width: calc(100% - 230px);
    flex-direction: column;
}

.panel {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2A3F54;
}
.panel a, .panel a:visited {
    color: #E7E7E7;
}

li {
    list-style-type: none;
}

.side-menu {
    padding-left: 5px;
}

a {
    text-decoration: none;
}

.square {
    display: flex;
    border: 1px solid #EAEAEA;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 22px;
    margin-right: 2px;
}

.side-menu li {
    padding: 18px;
}
.side-menu a .dop-arrow {
    padding-top: 5px;
}
.name {
    font-size: 22px;
    color: #ECF0F1;
    display: inline-block;
}

.menu_section a i:last-child {
    float: right;
}

.menu_section {
    font-size: 15px;
}

.logo i:first-child {
    padding-left: 3px;
}

.brand {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 25px;
}

.side-menu a {
    font-size: 15px;
}

i.dop-arrow {
    font-size: 12px;
}

.container {
    background-color: #F7F7F7;
    height: 100%;
}

.toggle .dop {
    font-size: 26px;
    color: #5A738E;
}

.human .dop {
    color: #515356;
    font-size: 10px;
    width: 28px;
    height: auto;
}

.human .dop-arrow {
    font-size: 10px;
    color: #515356;


}
/*.with-panel-collapsed .panel {*/
/*    width: 70px;*/
/*}*/
/*.with-panel-collapsed .dop-arrow {*/
/*    display: none;*/
/*}*/
/*.with-panel-collapsed .name {*/
/*    display: none;*/
/*}*/

/*.with-panel-collapsed .side-menu a {*/
/*    font-size: 10px;*/
/*    text-align: center;*/
/*}*/
/*.with-panel-collapsed .main {*/
/*    width: calc(100% - 70px);*/
/*}*/
/*.with-panel-collapsed .panel .side-menu li {*/
/*    padding: 0;*/
/*    text-align: center;*/
/*    margin-bottom: 25px;*/
/*}*/
/*.with-panel-collapsed .panel .side-menu .dop {*/
/*    display: block;*/
/*    font-size: 22px;*/
/*}*/



