html {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    margin: 0;
}
header {
    background: #f4f4f4;
    padding: 0 30px;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.products span {
    font-size: 13px;
}
.products {
    display: flex;
    align-items: center;
}
.products-more {
    background: rgb(173,0,42);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-left: 15px;
    border-radius: 2px;
    border: 1px solid #900323;
}
.logo {
    width: 137px;
}
.all {
    display: flex;
    justify-content: center;
    margin: 40px auto 0;
    max-width: 1000px;
    padding: 0 50px;

}
.basic_information {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    align-content: flex-start;
}
.smartCloud {
    width: 50%;

}
.laptop  {
    width: 50%;
    align-self: center;
}
.headline {
    color: #c74e68
}
.error {
    width: 50%;
}
.apologies,.basic_information {
    line-height: 150%;
}




