<div class="all">
  <div class="panel">
    <div class="brand">
      <a href="#" class="square">
                <span class="logo">
                    <i class="fa fa-cloud"></i>
                </span>
      </a>
      <span class="name">
                    Smart Cloud
                </span>
    </div>
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a href="#">
          <i class="fa fa-home dop"></i>
          Dashboard
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>Unknown</li>
            <li>Unknown</li>
          </ul>
        </li>
        <li><a href="#">
          <i class="fa fa-briefcase dop"></i>
          Анализ
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>ABC</li>
            <li>Menu engineering</li>
          </ul>
        </li>
        <li><a href="#">
          <i class="fab fa-codepen dop"></i>
          OLAP по продажам
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>Unknown</li>
            <li>Unknown</li>
          </ul>
        </li>
        <li><a href="#">
          <i class="fa fa-shield dop"></i>
          Мониторинг
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>Unknown</li>
            <li>Unknown</li>
          </ul>
        </li>
        <li><a href="#">
          <i class="fa fa-shield dop"></i>
          Отчеты
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>Unknown</li>
            <li>Unknown</li>
          </ul>
        </li>
        <li><a href="#">
          <i class="fa fa-table dop"></i>
          Документы
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>Unknown</li>
            <li>Unknown</li>
          </ul>
        </li>
        <li><a href="#">
          <i class="fa fa-edit dop"></i>
          Настройки
          <i class="fa fa-chevron-down dop-arrow"></i>
        </a>
          <ul class="nav child-menu">
            <li>Пофиль</li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <div class="main">
    <header>
      <div class="toggle">
        <i class="fa fa-bars dop"></i>
      </div>
      <a href="#" class="human">
        <img src="/assets/user.png" class="dop" alt="">
        <i class="fa fa-chevron-down dop-arrow"></i>
      </a>
    </header>
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio dolorum eligendi laboriosam tempore. Alias delectus dignissimos earum error, laboriosam, nobis nulla numquam officia quisquam rerum tempora unde? Accusamus, animi dicta dignissimos eaque error exercitationem in iste laboriosam magni modi nisi numquam, obcaecati porro quasi repellat, repellendus repudiandae. Accusantium aliquid aperiam at consectetur, culpa enim, error fuga incidunt labore magni natus nobis nulla quisquam reiciendis rerum similique tenetur. Laborum, voluptatem.
    </div>
  </div>
</div>

